<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Wieldy with DotNet Core MVC">
  <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">

  <title>@ViewData["Title"] - WieldyDotNet</title>
  <!-- Site favicon -->
  <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon">
  <!-- /site favicon -->
  <!-- Font Icon Styles -->
  <link rel="stylesheet" href="~/node_modules/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="~/lib/gaxon-icon/style.css">
  <!-- /font icon Styles -->
  <!-- Perfect Scrollbar stylesheet -->
  @*<link rel="stylesheet" href="../node_modules/perfect-scrollbar/css/perfect-scrollbar.css">*@
  <!-- /perfect scrollbar stylesheet -->
  <!-- Load Styles -->
  <link rel="stylesheet" href="~/assets/css/lite-style-3.min.css">
  <!-- /load styles -->
  @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
  @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
  @*<link rel="stylesheet" href="~/WieldyDotNet.styles.css" asp-append-version="true" />*@

</head>
<body class="dt-sidebar--fixed dt-header--fixed">
  <!-- Loader -->
  @* <div class="dt-loader-container">
  <div class="dt-loader">
  <svg class="circular" viewBox="25 25 50 50">
  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
  </svg>
  </div>
  </div>*@
  <!-- /loader -->
  <!-- Root -->
  <div class="dt-root">
    <partial name="Header" />

    <!-- Site Main -->
    <main class="dt-main">
      <partial name="Sidebar" />

      <!-- Site Content Wrapper -->
      <div class="dt-content-wrapper">

        <!-- Site Content -->
        <div class="dt-content">

          <!-- Page Container -->
          @*<div class="dt-page--container">*@
            @RenderBody()


          @*</div>*@
          <!-- /page container -->

        </div>
        <!-- /site content -->
        <!-- Footer -->
        <footer class="dt-footer">
          &copy; 2023 - WieldyDotNet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>
        <!-- /footer -->

      </div>
    </main>
    <!-- /site main -->

  </div>
  <!-- /root -->
  <!-- /site content wrapper -->
  @*<div class="container">
  <main role="main" class="pb-3">

  </main>
  </div>*@

  @*  <footer class="border-top footer text-muted">
  <div class="container">
  &copy; 2023 - WieldyDotNet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
  </div>
  </footer>*@
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  @*<script src="~/js/site.js" asp-append-version="true"></script>*@

  <!-- Custom JavaScript -->
  <script src="~/assets/js/script.js"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
