<!-- Brand -->
<div class="dt-brand">

  <!-- Brand tool -->
  <div class="dt-brand__tool" data-toggle="main-sidebar">
    <i class="icon icon-xl icon-menu-fold d-none d-lg-inline-block"></i>
    <i class="icon icon-xl icon-menu d-lg-none"></i>
  </div>
  <!-- /brand tool -->
  <!-- Brand logo -->
  <span class="dt-brand__logo">
    <a class="dt-brand__logo-link" href="~/">
      <img class="dt-brand__logo-img d-none d-lg-inline-block" src="~/logo.png" alt="Wieldy">
      <img class="dt-brand__logo-symbol d-lg-none" src="~/logo.png" alt="Wieldy">
    </a>
  </span>
  <!-- /brand logo -->

</div>
<!-- /brand -->