      <!-- Sidebar -->
<aside id="main-sidebar" class="dt-sidebar">
  <div class="dt-sidebar__container">

    <!-- Sidebar Notification -->
    <div class="dt-sidebar__notification  d-none d-lg-block">
      <!-- Dropdown -->
      <div class="dropdown mb-6" id="user-menu-dropdown">

        <!-- Dropdown Link -->
        <a href="#" class="dropdown-toggle dt-avatar-wrapper text-body"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="dt-avatar" src="~/placeholder.jpg" alt="Domnic Harris">
          <span class="dt-avatar-info">
            <span class="dt-avatar-name">Bob Hyden</span>
          </span>
        </a>
        <!-- /dropdown link -->
        <!-- Dropdown Option -->
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dt-avatar-wrapper flex-nowrap p-6 mt--5 bg-gradient-purple text-white rounded-top">
            <img class="dt-avatar" src="placeholder.jpg" alt="Domnic Harris">
            <span class="dt-avatar-info">
              <span class="dt-avatar-name">Bob Hyden</span>
              <span class="f-12">Administrator</span>
            </span>
          </div>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="icon icon-user-o icon-fw mr-2 mr-sm-1"></i>Account
          </a> <a class="dropdown-item" href="javascript:void(0)">
            <i class="icon icon-setting icon-fw mr-2 mr-sm-1"></i>Setting
          </a>
          <a class="dropdown-item" href="page-login.html">
            <i class="icon icon-edit icon-fw mr-2 mr-sm-1"></i>Logout
          </a>
        </div>
        <!-- /dropdown option -->

      </div>
      <!-- /dropdown -->


      <ul class="dt-list dt-list-xl">
        <li class="dt-list__item pl-5 pr-5">
          <a href="javascript:void(0)" class="dt-list__link"><i class="icon icon-search-new icon-xl"></i></a>
        </li>
        <li class="dt-list__item pl-5 pr-5">
          <a href="javascript:void(0)" class="dt-list__link"><i class="icon icon-notification icon-xl"></i></a>
        </li>
        <li class="dt-list__item pl-5 pr-5">
          <a href="javascript:void(0)" class="dt-list__link"><i class="icon icon-chat-new icon-xl"></i></a>
        </li>
      </ul>
    </div>
    <!-- /sidebar notification -->
    <!-- Sidebar Navigation -->
    <ul class="dt-side-nav">

      <!-- Menu Header -->
      <li class="dt-side-nav__item dt-side-nav__header">
        <span class="dt-side-nav__text">main</span>
      </li>
      <!-- /menu header -->
      <!-- Menu Item -->
      <li class="dt-side-nav__item open">
        <a href="javascript:void(0)" class="dt-side-nav__link dt-side-nav__arrow" title="Dashboard">
          <i class="icon icon-dashboard icon-fw icon-xl"></i> <span class="dt-side-nav__text">Accounts</span>
        </a>

        <!-- Sub-menu -->
        <ul class="dt-side-nav__sub-menu">
          <li class="dt-side-nav__item">
            <a href="~/Home/Profile" class="dt-side-nav__link" title="Profile">
              <i class="icon icon-user icon-fw icon-sm"></i>
              <span class="dt-side-nav__text">Profile</span>
            </a>
          </li>
          <li class="dt-side-nav__item">
            <a href="~/Home/Privacy" class="dt-side-nav__link" title="Privacy">
              <i class="icon icon-lock-screen icon-fw icon-sm"></i>
              <span class="dt-side-nav__text">Privacy</span>
            </a>
          </li>
          
          <li class="dt-side-nav__item">
            <a href="~/User" class="dt-side-nav__link" title="User List">
              <i class="icon icon-lock-screen icon-fw icon-sm"></i>
              <span class="dt-side-nav__text">Users</span>
            </a>
          </li>
          <li class="dt-side-nav__item">
            <a href="~/User/UserList" class="dt-side-nav__link" title="User List">
              <i class="icon icon-lock-screen icon-fw icon-sm"></i>
              <span class="dt-side-nav__text">User List</span>
            </a>
          </li>

        </ul>
        <!-- /sub-menu -->

      </li>

      <!-- /menu item -->
      <!-- Menu Header -->
      <li class="dt-side-nav__item dt-side-nav__header">
        <span class="dt-side-nav__text">Pre-built Apps</span>
      </li>
      <!-- /menu header -->
      <!-- Menu Item -->
      <li class="dt-side-nav__item">
        <a href="~/Home/Mail" class="dt-side-nav__link" title="Mail App">
          <i class="icon icon-email icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Mail App</span>
        </a>
      </li>
      <li class="dt-side-nav__item">
        <a href="~/Home/Chat" class="dt-side-nav__link" title="Mail App">
          <i class="icon icon-chat icon-fw icon-xl"></i>
          <span class="dt-side-nav__text">Chat App</span>
        </a>
      </li>

    </ul>
    <!-- /sidebar navigation -->

  </div>
</aside>
<!-- /sidebar -->