.dropzone {
  border-style: dashed;
  @include border-radius($border-radius-lg);
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  & .dz-message {
    font-size: $h1-font-size;

    @include media-breakpoint-down(lg) {
      font-size: $h4-font-size;
    }
  }

  @include media-breakpoint-down(lg) {
    min-height: 300px;
  }

  @include media-breakpoint-down(sm) {
    min-height: 200px;
  }

  @include media-breakpoint-down(xs) {
    min-height: 140px;
  }
}