// -----------------------------------------------------------------------------
// This file contains all styles related to the Icon component.
// -----------------------------------------------------------------------------

//Flag Icon Style
.flag-icon {
  &-lg {
    font-size: 1.8rem;
  }

  &-xl {
    font-size: 2.5rem;
  }

  &-rounded {
    @include border-radius($border-radius-sm);
  }

  &-circle {
    @include border-radius($border-radius-circle);
  }
}

.icon {
  line-height: 0.7;
  display: inline-block;
  vertical-align: middle;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-fw {
    width: 1.28571429em;
    text-align: center;
  }

  &-sm {
    font-size: 1.4rem;
  }

  &-lg {
    font-size: 1.6rem;
  }
  &-xl {
    font-size: 2rem;
  }

  &-1x {
    font-size: 2.2rem;
  }
  &-2x {
    font-size: 2.5rem;
  }
  &-3x {
    font-size: 3rem;
  }
  &-4x {
    font-size: 4rem;
  }
  &-5x {
    font-size: 4.5rem;
  }
  &-6x {
    font-size: 5.5rem;
  }
  &-7x {
    font-size: 7rem;
  }

  &-rotate--25 {
    @include rotate(-25deg);
  }
}

.#{$class-prefix}-icon-alert {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    right: 4px;
    top: 1px;
    z-index: 10;
    width: 6px;
    height: 6px;
    background-color: $danger;
    @include border-radius($border-radius-circle);
    @include pulse-effect($danger);
  }
}

.draggable-icon {
  cursor: all-scroll;

  @include hover-focus-active {
    cursor: all-scroll;
  }
}

// Spinning Icons
// --------------------------

.icon-spin {
  animation: icon-spin 1.5s infinite linear;
}

.icon-spin-reverse {
  animation: icon-spin-reverse 1.5s infinite linear;
}

.animation-customizer {
  animation: animation-customizer 1s infinite ease-in-out;
}

// Spin
@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

// Spin Reverse
@keyframes icon-spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}

// Spin Reverse
@keyframes animation-customizer {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

