// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Dashboard Page.
// -----------------------------------------------------------------------------

//Media list
.media-list {
  & .media {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &.media-news > img {
      min-width: 150px;
      max-width: 150px;
      margin-right: 2.4rem;

      @include media-breakpoint-down(xs) {
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 2.4rem;
      }
    }
    @include media-breakpoint-down(xs) {
      &.media-news {
        flex-direction: column;
      }
    }
  }
}