@{
    ViewData["Title"] = "Home Page";
}

<!-- 404 Page -->
<div class="error-page text-center">
		
  <!-- Title -->
  <h1 class="dt-error-code">AOA</h1>
  <!-- /title -->
		
  <h2 class="mb-10">Salamun Alykum</h2>
		
  <!-- Search Box -->
  <form class="search-box right-side-icon mb-5">
    <input class="form-control form-control-lg" type="search" id="address" name="address"
           placeholder="Search...">
    <button type="submit" class="search-icon"><i class="icon icon-search icon-lg"></i></button>
  </form>
  <!-- /search box -->
			  
  <p class="text-center mb-6"><a href="index.html" class="btn btn-primary">Go to Home</a></p>
		
		
</div>
<!-- /404 page -->
