@model dynamic

@{
  ViewBag.Title = "Mail";
  Layout = "_Layout";
}

        <!-- Grid -->
        <div class="row">

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Module -->
            <div class="dt-module">

              <!-- Module Sidebar -->
              <div class="dt-module__sidebar">

                <!-- Sidebar Header -->
                <div class="dt-module__sidebar-header border-bottom">
                  <div class="d-none d-md-flex align-items-center justify-content-center">
                    <i class="icon icon-chat icon-2x mr-4"></i>
                    <span class="h2 mb-0 text-muted">Mailbox</span>
                  </div>

                  <!-- App Quick Menu -->
                  <div class="quick-menu-list d-md-none">

                    <!-- Search Box -->
                    <form class="search-box d-md-none">
                      <input class="form-control" type="search" id="address" name="address"
                             placeholder="Search in app...">
                      <button type="submit" class="search-icon"><i class="icon icon-search icon-lg"></i></button>
                    </form>
                    <!-- /search box -->

                    <a href="javascript:void(0)" class="quick-menu d-none d-md-block text-muted" data-toggle="mdrawer" data-target="#drawer-search-bar"><i class="icon icon-search"></i></a>
                    <a href="javascript:void(0)" class="quick-menu text-muted" data-open="compose"><i class="icon icon-edit"></i></a>
                    <a href="javascript:void(0)" class="quick-menu text-muted" data-toggle="mdrawer" data-target="#drawer-notifications"><i class="icon icon-notification"></i></a>
                    <a href="javascript:void(0)" class="quick-menu d-md-none text-muted" data-toggle="msidebar-content"><i class="icon icon-menu"></i></a>
                  </div>
                  <!-- /app quick menu -->
                </div>
                <!-- /sidebar header -->

                <!-- Sidebar Menu -->
                <div class="dt-module__sidebar-content ps-custom-scrollbar">

                  <!-- Button -->
                  <div class="action-area mt-5 mb-7 d-none d-md-block">
                    <a href="javascript:void(0)" class="btn btn-shadow compose-btn btn-primary text-uppercase btn-block" data-open="compose">
                      <i class="icon icon-edit icon-fw mr-2"></i>Compose</a>
                  </div>
                  <!-- /button -->

                  <!-- Sidebar Navigation -->
                  <ul class="dt-module-side-nav">

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item active">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-inbox icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Inbox</span> </a>
                    </li>
                    <!-- /menu item -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-sent icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Sent</span> </a>
                    </li>
                    <!-- /menu item -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-draft icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Draft</span> </a>
                    </li>
                    <!-- /menu item -->

          <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-spam icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Spam</span> </a>
                    </li>
                    <!-- /menu item -->


                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-trash icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Trash</span> </a>
                    </li>
                    <!-- /menu item -->

                    <!-- Menu Header -->
                    <li class="dt-module-side-nav__header">
                      <span class="dt-module-side-nav__text">Filters</span>
                    </li>
                    <!-- /menu header -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-star icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Starred</span> </a>
                    </li>
                    <!-- /menu item -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-tag icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Important</span> </a>
                    </li>
                    <!-- /menu item -->

          <!-- Menu Header -->
                    <li class="dt-module-side-nav__header">
                      <span class="dt-module-side-nav__text">Labels</span>
                    </li>
                    <!-- /menu header -->

          <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-tag icon-fw icon-lg text-purple"></i>
                        <span class="dt-module-side-nav__text">PayPal</span> </a>
                    </li>
                    <!-- /menu item -->

          <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-tag icon-fw icon-lg text-yellow"></i>
                        <span class="dt-module-side-nav__text">Upwork</span> </a>
                    </li>
                    <!-- /menu item -->

          <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-tag icon-fw icon-lg text-success"></i>
                        <span class="dt-module-side-nav__text">In-house</span> </a>
                    </li>
                    <!-- /menu item -->

          <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-tag icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Clients</span> </a>
                    </li>
                    <!-- /menu item -->



                  </ul>
                  <!-- /sidebar navigation -->

                </div>
                <!-- /sidebar Menu -->

              </div>
              <!-- /module sidebar -->

              <!-- Module Container -->
              <div class="dt-module__container">

                <!-- Module Header -->
                <div class="dt-module__header d-none d-md-flex">

                  <!-- Search Box -->
                  <form class="search-box ml--15">
                    <input class="form-control border-0 shadow-none form-control"
                           placeholder="Search in app..." value=""
                           type="search"> <span class="search-icon text-light-gray"><i class="icon icon-search icon-lg"></i></span>
                  </form>
                  <!-- /search box -->

                  <!-- Dropdown -->
                  <div class="dropdown dt-notification ml-auto">

                    <!-- Dropdown Button -->
                    <a href="#" class="dropdown-toggle no-arrow text-muted" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                      <i class="icon icon-notification icon-1x icon-fw dt-icon-alert"></i> </a>
                    <!-- /dropdown button -->

                    <!-- Dropdown Option -->
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                      <!-- Dropdown Menu Header -->
                      <div class="dropdown-menu-header">
                        <h4 class="title">Notifications (9)</h4>

                        <div class="ml-auto action-area">
                          <a href="javascript:void(0)">Mark All Read</a> <a class="ml-2" href="javascript:void(0)">
                            <i class="icon icon-setting icon-lg text-light-gray"></i> </a>
                        </div>
                      </div>
                      <!-- /dropdown menu header -->

                      <!-- Dropdown Menu Body -->
                      <div class="dropdown-menu-body ps-custom-scrollbar">

                        <div class="h-auto">
                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                    <span class="message">
                      <span class="user-name">Stella Johnson</span> and <span class="user-name">Chris Harris</span>
                      have birthdays today. Help them celebrate!
                    </span>
                    <span class="meta-date">8 hours ago</span>
                  </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                    <span class="message">
                      <span class="user-name">Jonathan Madano</span> commented on your post.
                    </span>
                    <span class="meta-date">9 hours ago</span>
                  </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                    <span class="message">
                      <span class="user-name">Chelsea Brown</span> sent a video recomendation.
                    </span>
                    <span class="meta-date">
                      <i class="icon icon-menu-right text-primary icon-fw mr-1"></i>
                      13 hours ago
                    </span>
                  </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                    <span class="message">
                      <span class="user-name">Alex Dolgove</span> and <span class="user-name">Chris Harris</span>
                      like your post.
                    </span>
                    <span class="meta-date">
                      <i class="icon icon-thumb-up text-light-blue icon-fw mr-1"></i>
                      yesterday at 9:30
                    </span>
                  </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->
                        </div>

                      </div>
                      <!-- /dropdown menu body -->

                      <!-- Dropdown Menu Footer -->
                      <div class="dropdown-menu-footer">
                        <a href="javascript:void(0)" class="card-link"> See All
                          <i class="icon icon-arrow-right icon-fw"></i> </a>
                      </div>
                      <!-- /dropdown menu footer -->
                    </div>
                    <!-- /dropdown option -->

                  </div>
                  <!-- /dropdown -->

                </div>
                <!-- /module header -->

                <!-- Module Content -->
                <div class="dt-module__content ps-custom-scrollbar">

                  <!-- Module Content Inner -->
                  <div class="dt-module__content-inner">

                    <div class="dt-module__toolbar">
                      <!-- Dropdown -->
                      <div class="dropdown">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-1">
                          <input id="option-checkbox" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="option-checkbox">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i class="icon icon-check-square icon-fw icon-lg text-primary"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Dropdown Button -->
                        <a href="#" class="dropdown-toggle text-dark" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> None </a>
                        <!-- /dropdown button -->

                        <!-- Dropdown Menu -->
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0)">All</a>
                          <a class="dropdown-item" href="javascript:void(0)">Read</a>
                          <a class="dropdown-item" href="javascript:void(0)">Unread</a>
                          <a class="dropdown-item" href="javascript:void(0)">Starred</a>
                        </div>
                        <!-- /dropdown menu -->

                      </div>
                      <!-- /dropdown -->
                    </div>

                    <!-- Module List -->
                    <div class="dt-module__list">

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-1" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-1">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i
                                      class="icon icon-check-square icon-fw icon-lg text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-2" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-2">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-sm"></i></span>
                            <span class="checked"><i class="icon icon-star icon-fw icon-sm"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="https://via.placeholder.com/150x150" alt="Dinesh Suthar">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content" data-location="mail-detail.html">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Chris Harris</h4>
                          <h4 class="d-inline-block mb-1">Graphic Design / Logo Design / UI &amp; UX</h4>
                          <p class="mb-0 text-light-gray text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <div class="badge-group">
                            <span class="badge badge-success text-white">In-house</span>
                            <span class="badge badge-info">Clients</span>
                          </div>
                          <span>July 24</span>
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-3" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-3">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i
                                      class="icon icon-check-square icon-fw icon-lg text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-4" type="checkbox" checked>
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-4">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-sm"></i></span>
                            <span class="checked"><i class="icon icon-star icon-fw icon-sm"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="https://via.placeholder.com/150x150"
                             alt="Stella Johnson">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content" data-location="mail-detail.html">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Alia Joseph</h4>
                          <h4 class="d-inline-block mb-1">UI/UI Expert</h4>
                          <p class="mb-0 text-light-gray text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <div class="badge-group">
                <span class="badge bg-yellow text-white">Upwork</span>
                            <span class="badge badge-info">Clients</span>
                          </div>
                          <span>July 18</span>
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-5" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-5">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i
                                      class="icon icon-check-square icon-fw icon-lg text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-6" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-6">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-sm"></i></span>
                            <span class="checked"><i class="icon icon-star icon-fw icon-sm"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="https://via.placeholder.com/150x150" alt="Mathew">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content" data-location="mail-detail.html">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Mathew</h4>
                          <h4 class="d-inline-block mb-1">React Developer</h4>
                          <p class="mb-0 text-light-gray text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <span>July 17</span>
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-7" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-7">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i
                                      class="icon icon-check-square icon-fw icon-lg text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-8" type="checkbox" checked>
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-8">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-sm"></i></span>
                            <span class="checked"><i class="icon icon-star icon-fw icon-sm"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="https://via.placeholder.com/150x150" alt="Steve Smith">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content" data-location="mail-detail.html">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Joshua Brian</h4>
                          <h4 class="d-inline-block mb-1">Data Analyst</h4>
                          <p class="mb-0 text-light-gray text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <span>July 15</span>
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-9" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-9">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i
                                      class="icon icon-check-square icon-fw icon-lg text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-10" type="checkbox" checked>
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-10">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-sm"></i></span>
                            <span class="checked"><i class="icon icon-star icon-fw icon-sm"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="https://via.placeholder.com/150x150" alt="Kemroon White">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content" data-location="mail-detail.html">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Kemroon White</h4>
                          <h4 class="d-inline-block mb-1">Data Scientist</h4>
                          <p class="mb-0 text-light-gray text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
             <div class="badge-group">
                <span class="badge bg-yellow text-white">Upwork</span>
                          </div>
                          <span>June 09</span>
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-11" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-11">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i
                                  class="icon icon-check-square icon-fw icon-lg text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-12" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-12">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-sm"></i></span>
                            <span class="checked"><i class="icon icon-star icon-fw icon-sm"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="https://via.placeholder.com/150x150" alt="Chris Harris">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content" data-location="mail-detail.html">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Chris Harris</h4>
                          <h4 class="d-inline-block mb-1">Graphics designer</h4>
                          <p class="mb-0 text-light-gray text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <span>May 21</span>
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-13" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-13">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i
                                      class="icon icon-check-square icon-fw icon-lg text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-14" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-14">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-sm"></i></span>
                            <span class="checked"><i class="icon icon-star icon-fw icon-sm"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="https://via.placeholder.com/150x150" alt="Nikki Johnson">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content" data-location="mail-detail.html">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Nikki Johnson</h4>
                          <h4 class="d-inline-block mb-1">React Developer</h4>
                          <p class="mb-0 text-light-gray text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
              <div class="badge-group">
                <span class="badge badge-success">In-house</span>
                          </div>
                          <span>May 20</span>
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-15" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-15">
                            <span class="unchecked"><i class="icon icon-uncheck-squire-o icon-fw icon-lg"></i></span>
                            <span class="checked"><i
                                      class="icon icon-check-square icon-fw icon-lg text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-16" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-16">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-sm"></i></span>
                            <span class="checked"><i class="icon icon-star icon-fw icon-sm"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="https://via.placeholder.com/150x150" alt="Garry Sobars">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content" data-location="mail-detail.html">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Garry Sobars</h4>
                          <h4 class="d-inline-block mb-1">iOS Developer</h4>
                          <p class="mb-0 text-light-gray text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
              <div class="badge-group">
                <span class="badge bg-purple text-white">PayPal</span>
                          </div>
                          <span>May 19</span>
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                    </div>
                    <!-- /module list -->

                  </div>
                  <!-- /module content inner -->

                </div>
                <!-- /module content -->

              </div>
              <!-- /module container -->

              <!-- Module Drawer -->
              <div class="dt-module__drawer dt-drawer position-left">

                <!-- Module Drawer Inner -->
                <div class="dt-module__drawer-inner">

                  <div class="dt-module__drawer-header">
                    <a href="javascript:void(0)" class="d-inline-block" data-dismiss="mdrawer">
                      <i class="icon icon-arrow-left icon-xl mr-3"></i> <span class="align-middle">Back</span> </a>
                  </div>

                  <!-- Actionable Drawer -->
                  <div class="dt-actionable-drawer">

                    <!-- Menu Bar -->
                    <div class="dt-action-bar">

                      <!-- Action Menu -->
                      <ul class="dt-action-nav">

                        <!-- Menu Item -->
                        <li class="dt-action-nav__item">
                          <a href="javascript:void(0)" class="dt-action-nav__link" data-switch="mdrawer" data-target="#drawer-notifications">
                            <i class="icon icon-notification icon-fw"></i> </a>
                        </li>
                        <!-- /menu item -->

                        <!-- Menu Item -->
                        <li class="dt-action-nav__item">
                          <a href="javascript:void(0)" class="dt-action-nav__link" data-switch="mdrawer" data-target="#drawer-search-bar">
                            <i class="icon icon-search icon-fw"></i> </a>
                        </li>
                        <!-- /menu item -->

                      </ul>
                      <!-- /action menu -->

                    </div>
                    <!-- /menu bar -->

                    <!-- Drawer Content Area -->
                    <div class="dt-action-content-wrapper ps-custom-scrollbar">

                      <div class="dt-action-content">

                        <!-- Search -->
                        <div class="dt-notification fade" id="drawer-search-bar">
                          <!-- Search Box -->
                          <form class="search-box right-side-icon w-100 mb-8">
                            <input class="form-control form-control-lg" id="address-1" name="address-1" placeholder="Search in app..." type="search">
                            <button type="submit" class="search-icon"><i class="icon icon-search icon-lg"></i></button>
                          </form>
                          <!-- /search box -->

                          <h4>Recently Viewed</h4>

                          <!-- Search Result-->
                          <div class="search-result">
                            <a href="javascript:void(0)" class="dt-avatar-wrapper">
                              <!-- Avatar -->
                              <span class="dt-avatar bg-primary text-white font-italic">PHP</span>
                              <!-- /avatar -->

                              <!-- Avatar Info -->
                              <span class="dt-avatar-info">
                              <span class="dt-avatar-name">Chat Bull</span>
                              <span class="f-12">Example Web</span>
                            </span>
                              <!-- /avatar info -->

                            </a>
                          </div>
                          <!-- /search result-->

                          <!-- Search Result-->
                          <div class="search-result">
                            <a href="javascript:void(0)" class="dt-avatar-wrapper">
                              <!-- Avatar -->
                              <span class="dt-avatar bg-primary text-white font-italic">Ant</span>
                              <!-- /avatar -->

                              <!-- Avatar Info -->
                              <span class="dt-avatar-info">
                              <span class="dt-avatar-name">Flexile</span>
                              <span class="f-12">Example Web</span>
                            </span>
                              <!-- /avatar info -->

                            </a>
                          </div>
                          <!-- /search result-->

                          <!-- Search Result-->
                          <div class="search-result">
                            <a href="javascript:void(0)" class="dt-avatar-wrapper">
                              <!-- Avatar -->
                              <span class="dt-avatar bg-primary text-white font-italic">React</span>
                              <!-- /avatar -->

                              <!-- Avatar Info -->
                              <span class="dt-avatar-info">
                              <span class="dt-avatar-name">Admin Template</span>
                              <span class="f-12">Example Web</span>
                            </span>
                              <!-- /avatar info -->

                            </a>
                          </div>
                          <!-- /search result-->

                        </div>
                        <!-- /search -->

                        <!-- Notification -->
                        <div class="dt-notification fade" id="drawer-notifications">

                          <div class="d-flex align-items-center mb-6">
                            <h5 class="mb-0">Notifications (7)</h5>

                            <div class="ml-auto action-area">
                              <a href="javascript:void(0)">Mark All Read</a>

                              <!-- Dropdown -->
                              <span class="dropdown ml-2 d-inline-block">
                              <a class="dropdown-toggle no-arrow" href="#" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                <i class="icon icon-setting icon-lg text-light-gray"></i>
                              </a>

                              <span class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon icon-edit icon-fw"></i>
                                  Edit
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon icon-contacts icon-fw"></i>
                                  Contact List</a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon icon-like icon-fw"></i>
                                  Favourite List
                                </a>
                              </span>
                            </span>
                              <!-- /dropdown -->

                            </div>
                          </div>

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Stella Johnson</span> and <span class="user-name">Chris Harris</span>
                                have birthdays today. Help them celebrate!
                              </span>
                              <span class="meta-date">8 hours ago</span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Jonathan Madano</span> commented on your post.
                              </span>
                              <span class="meta-date">9 hours ago</span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                        <span class="message">
                          <span class="user-name">Chelsea Brown</span> sent a video recomendation.
                        </span>
                        <span class="meta-date">
                          <i class="icon icon-menu-right text-primary icon-fw mr-1"></i>
                          13 hours ago
                        </span>
                      </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Alex Dolgove</span> and <span class="user-name">Chris Harris</span>
                                like your post.
                              </span>
                              <span class="meta-date">
                                <i class="icon icon-thumb-up text-light-blue icon-fw mr-1"></i>
                                yesterday at 9:30
                              </span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Amay Mathur</span> and <span class="user-name">Domnic Harris</span>
                                comment your post.
                              </span>
                              <span class="meta-date">
                                <i class="icon icon-chat icon-fw mr-1"></i>
                                yesterday at 9:30
                              </span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Steve Smith</span> and <span class="user-name">Jimmy</span>
                                inviting on our page.
                              </span>
                              <span class="meta-date">
                                Monday at 18:30
                              </span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="https://via.placeholder.com/150x150" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Alex Dolgove</span> and <span class="user-name">Chris Harris</span>
                                like your post.
                              </span>
                              <span class="meta-date">
                                <i class="icon icon-thumb-up text-light-blue icon-fw mr-1"></i>
                                yesterday at 9:30
                              </span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->
                        </div>
                        <!-- /notification -->

                      </div>

                    </div>
                    <!-- /drawer content area -->

                  </div>
                  <!-- /actionable drawer -->

                </div>
                <!-- /module drawer inner -->

              </div>
              <!-- /module drawer -->

            </div>
            <!-- /module -->

          </div>
          <!-- /grid item -->

        </div>
        <!-- /grid -->