// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

$num: 20;

@while $num <= 120 {
  .size-#{$num} {
    width: #{$num}px;
    height: #{$num}px;
    line-height: #{$num}px;
  }

  $num: $num + 5;
}

@each $color, $value in $dt-colors {
  @include bg-variant(".bg-#{$color}", $value);
  @include text-emphasis-variant(".text-#{$color}", $value);
}

@each $prop, $abbrev in (min-width: min-w) {
  @each $size, $length in $min-sizes {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length
    }
  }
}

//Convert Unicode Color Code
@function unicode-color($color) {
  @return '%23' + str-slice('#{$color}', 2, -1)
}

//Border colors
@each $color, $value in $dt-colors {
  .border-#{$color} {
    border-color: $value !important;
  }
}

